{% extends "levelcheck/index.html" %}

{% block content %}
    <header style="height: 5%"><h1>REVIEWS</h1></header>
    <section style="height: 94.7%">
        <table>
            <tr>
                <th></th>
                <th>Title</th>
                <th>Reviewer</th>
			    <th>Game</th>
			    <th>Rating</th>
                {% if request.user.is_superuser %}
                    <th></th>
                {% endif %}
            </tr>
            {% for r in reviews %}
            <tr style="text-align: center" data-href="{% url 'levelcheck:review_detail' r.user.username r.id %}">
                <td style="width: 1.5%"><img class="table_image" src="{{ r.game.img.url }}"></td>
                <td style="width: 5%; font-weight: bold; font-size: 1.5em">{{ r.review_title }}</td>
                <td style="width: 5%">{{ r.user.username }}</td>
                <td style="width: 5%">{{ r.game.title }}</td>
                <td style="width: 5%">{{ r.rating }}</td>
                {% if request.user.is_superuser %}
                    <td style="width: 5%"><a style="padding: 2%" class="link_button">Delete</a></td>
                {% endif %}
            </tr>
            {% empty %}
                <p>No reviews :(</p>
            {% endfor %}
        </table>
    </section>

    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const rows = document.querySelectorAll("tr[data-href]");

            rows.forEach(row => {
                row.addEventListener("click", () => {
                    window.location.href = row.dataset.href;
                });
            });
        });
    </script>
{% endblock %}