{% extends "levelcheck/index.html" %}

{% block content %}
    <header style="height: 5%"><h1>CHARACTERS</h1></header>
    <section style="height: 94.7%">
        <table>
            <tr>
                <th></th>
			    <th>Name</th>
			    <th>Age</th>
			    <th>Game</th>
                {% if request.user.is_superuser %}
                    <th></th>
                {% endif %}
            </tr>
            {% for c in characters %}
            <tr style="text-align: center" data-href="{% url 'levelcheck:character_detail' c.game.title c.name%}">
                <td style="width: 1.5%"><img class="table_image" src="{{ c.img.url }}"></td>
                <td style="width: 5%; font-weight: bold; font-size: 1.5em">{{ c.name }}</td>
                <td style="width: 5%">{{ c.age }}</td>
                <td style="width: 5%">{{ c.game.title }}</td>
                {% if request.user.is_superuser %}
                    <td style="width: 5%"><a style="padding: 2%" class="link_button" href="{% url 'levelcheck:delete_character' c.game.title c.name %}">Delete</a></td>
                {% endif %}
            </tr>
            {% empty %}
                <tr style="text-align: center">
                    <td></td>
                    <td style="font-weight: bold; font-size: 1.5em">No characters :(</td>
                    <td></td>
                    <td></td>
                </tr>
            {% endfor %}
        </table>
    </section>

    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const rows = document.querySelectorAll("tr[data-href]");

            rows.forEach(row => {
                row.addEventListener("click", () => {
                    window.location.href = row.dataset.href;
                });
            });
        });
    </script>
{% endblock %}