{% extends "levelcheck/index.html" %}

{% block content %}
    <header style="height: 5%"><h1>GAMES</h1></header>
    <section style="height: 94.7%">
        <table>
            <tr>
                <th></th>
			    <th>Title</th>
			    <th>Genre</th>
			    <th>Developer</th>
                <th>Publisher</th>
                <th>Release Date</th>
            </tr>
            {% for g in games %}
            <tr data-href="{% url 'levelcheck:logout' %}">
                <td style="width: 5%; text-align: center"><img class="game_image" src="{{ g.img.url }}"></td>
                <td style="width: 5%; text-align: center; font-weight: bold; font-size: 1.5em">{{ g.title }}</td>
                <td style="width: 5%; text-align: center">{{ g.genre_id }}</td>
                <td style="width: 5%; text-align: center">{{ g.developer }}</td>
                <td style="width: 5%; text-align: center">{{ g.publisher }}</td>
                <td style="width: 5%; text-align: center">{{ g.release }}</td>
            </tr>
            {% empty %}
                <p>No games :(</p>
            {% endfor %}
        </table>
    </section>

    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const rows = document.querySelectorAll("tr[data-href]");

            rows.forEach(row => {
                row.addEventListener("click", () => {
                    window.location.href = row.dataset.href;
                });
            });
        });
    </script>
{% endblock %}