{% extends "levelcheck/index.html" %}

{% block tab %}
    <title>Game Creation</title>
{% endblock %}

{% block css %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'website/css/admin.css' %}" />
{% endblock %}

{% block content %}
    <form style="margin: auto; width: 10%; height: 45%" enctype="multipart/form-data" method="post" autocomplete="off">
        {% csrf_token %}
        <fieldset style="width: 100%; height: 98%; padding-top: 2%">
            {{ game_form }}
            <input class="link_button" type="submit" value="Create">
        </fieldset>
    </form>
{% endblock %}