{% extends "levelcheck/profile.html" %}

{% block profile %}
    <div id="profile_desc">
        <p><span>Username:</span>  {{request.user.username}}</p><br>
        <p><span>Joined:</span>  {{request.user.leveluser.joined}}</p><br>
        <form action="{% url 'levelcheck:edit_profile' user.leveluser.id%}" method="post" enctype="multipart/form-data">
            <div style="margin-bottom: 5%">
                {% csrf_token %}
                <label style="display: inline" for="photo_label">Upload Photo:</label>
                <input type="file" id="photo_label" name="photo"><br>

                <label style="display: inline" for="gender">Gender:</label>
                <select name="gender" id="gender">
                  <option value="" selected disabled hidden>{{request.user.leveluser.gender}}</option>
                  <option value="Male">Male</option>
                  <option value="Female">Female</option>
                  <option value="Non-Binary">Non-Binary</option>
                  <option value="Prefer Not">Prefer Not</option>
                </select><br>

                <label style="display: inline" for="birthday">Birthday:</label>
                <input type="date" id="birthday" name="birthday" value="{{request.user.leveluser.birthday}}"><br>

                <label style="display: inline" for="location">Location:</label>
                <input type="text" id="location" name="location" value="{{request.user.leveluser.location}}"required><br>

                <label for="bio">Bio:</label><br>
                <textarea id="bio" name="bio" rows="5.5">{{request.user.leveluser.bio}}</textarea><br>
             </div>

            <fieldset style="height: 31%; margin-bottom: 7%">
                <legend><span>Game Stats</span></legend>
                <p><span style="color: #240090">⬤ </span>Playing:  {{p}}</p>
                <p style="margin-top: 5%"><span style="color: green">⬤ </span>Completed:  {{c}}</p>
                <p style="margin-top: 5%"><span style="color: yellow">⬤ </span>On-Hold:  {{h}}</p>
                <p style="margin-top: 5%"><span style="color: darkred">⬤ </span>Dropped:  {{d}}</p>
                <p style="margin-top: 5%"><span style="color: grey">⬤ </span>Plan to Play:  {{f}}</p>
                <p style="margin-top: 8%; margin-bottom: 5%">Total:  {{t}}</p>
            </fieldset>

            <input style="width: 30%; padding: 1%; display: inline" class="link_button" type="submit" value="Save">
            <a style="width: 50%; padding: 1%; padding-left: 5%; padding-right: 5%" class="link_button" href="{% url 'levelcheck:profile' user.username%}">Cancel</a>
        </form>
    </div>
{% endblock %}