{% extends "levelcheck/index.html" %}

{% block content %}
    <p>{{ game.title }}</p>
    <button><a href="{% url 'levelcheck:create_review' game.title%}">Review</a></button>
    <div class="dropdown">
        <button class="dropbtn">Dropdown</button>
        <div class="dropdown-content">
            <a href="{% url 'levelcheck:user_games_stats' game.title "P" %}">Playing</a>
            <a href="{% url 'levelcheck:user_games_stats' game.title "C" %}">Completed</a>
            <a href="{% url 'levelcheck:user_games_stats' game.title "H" %}">On-Hold</a>
            <a href="{% url 'levelcheck:user_games_stats' game.title "D" %}">Dropped</a>
            <a href="{% url 'levelcheck:user_games_stats' game.title "F" %}">Plan to Play</a>
        </div>
    </div>
{% endblock %}