<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'website/css/base.css' %}" />
</head>
<body>
<nav>
    <div style="display: flex; height: 100%">
        <a class="nav_link" style="width: 75px" href="{% url 'levelcheck:index' %}">INDEX</a>
        <a class="nav_link" style="width: 85px" href="{% url 'levelcheck:all_games' %}">GAMES</a>
        <a class="nav_link" style="width: 130px" href="{% url 'levelcheck:all_characters' %}">CHARACTERS</a>
        <a class="nav_link" style="width: 100px" href="{% url 'levelcheck:all_reviews' %}">REVIEWS</a>
        <a class="nav_link" style="width: 135px" href="{% url 'levelcheck:all_games' %}">NEWS</a>
        <a class="nav_link" style="width: 75px" href="{% url 'levelcheck:all_users' %}">USERS</a>
    </div>
    {% if not request.user.is_superuser %}
        <h1 id="greeting">WELCOME {{request.user.username}}!</h1>
    {% endif %}
    {% if request.user.is_superuser %}
        <div style="display: flex; height: 100%">
            <a class="nav_link" style="width: 140px; padding-top: 2.75%" href="{% url 'levelcheck:create_game' %}">CREATE GAME</a>
            <a class="nav_link" style="width: 145px; padding-top: 2.75%" href="{% url 'levelcheck:create_genre' %}">CREATE GENRE</a>
            <a class="nav_link" style="width: 190px; padding-top: 2.75%" href="{% url 'levelcheck:create_character' %}">CREATE CHARACTER</a>
            <a class="nav_link" style="width: 90px; padding-top: 2.75%" href="{% url 'levelcheck:logout' %}">LOGOUT</a>
        </div>
    {% else %}
        <div style="display: flex; height: 98%">
            <a class="nav_link" style="width: 90px; padding-top: 9%" href="{% url 'levelcheck:profile' user.username %}">PROFILE</a>
            <a class="nav_link" style="width: 90px; padding-top: 9%" href="{% url 'levelcheck:logout' %}">LOGOUT</a>
        </div>
    {% endif %}
</nav>

<div id="main">
    {% block content %}
    <div id="top_left">
        <header><h1>RECENT GAMES</h1></header>
        <section>
            <table>
                <tr>
                    <th></th>
                    <th>Title</th>
                </tr>
                {% for g in games %}
                <tr style="text-align: center" data-href="{% url 'levelcheck:game_detail' g.title%}">
                    <td style="width: 15%"><img class="table_image" src="{{ g.img.url }}"></td>
                    <td style="font-weight: bold; font-size: 1.5em">{{ g.title }}</td>
                </tr>
                {% empty %}
                    <tr style="text-align: center">
                        <td></td>
                        <td style="font-weight: bold; font-size: 1.5em">No games :(</td>
                    </tr>
                {% endfor %}
            </table>
	    </section>
        <div class="section_button">
            <a class="link_button" href="{% url 'levelcheck:all_games' %}">SEE ALL</a>
        </div>
    </div>

    <div id="top_right">
        <header><h1>RECENT CHARACTERS</h1></header>
        <section>
            <table>
                <tr>
                    <th></th>
                    <th>Name</th>
                </tr>
                {% for c in characters %}
                <tr style="text-align: center" data-href="{% url 'levelcheck:character_detail' c.game.title c.name%}">
                    <td style="width: 15%"><img class="table_image" src="{{ c.img.url }}"></td>
                    <td style="font-weight: bold; font-size: 1.5em">{{ c.name }}</td>
                </tr>
                {% empty %}
                    <tr style="text-align: center">
                        <td></td>
                        <td style="font-weight: bold; font-size: 1.5em">No characters :(</td>
                    </tr>
                {% endfor %}
            </table>
	    </section>
        <div class="section_button">
            <a class="link_button" href="{% url 'levelcheck:all_characters' %}">SEE ALL</a>
        </div>
    </div>

    <div id="bottom_left">
        <header><h1>RECENT REVIEWS</h1></header>
        <section>
            <table>
                <tr>
                    <th></th>
                    <th>Title</th>
                    <th>Game</th>
                    <th>Rating</th>
                </tr>
                {% for r in reviews %}
                <tr style="text-align: center" data-href="{% url 'levelcheck:review_detail' r.user.username r.id %}">
                    <td style="width: 1.5%"><img class="table_image" src="{{ r.game.img.url }}"></td>
                    <td style="width: 5%; font-weight: bold; font-size: 1.5em">{{ r.review_title }}</td>
                    <td style="width: 5%">{{ r.game.title }}</td>
                    <td style="width: 5%">{{ r.rating }}</td>
                </tr>
                {% empty %}
                    <tr style="text-align: center">
                        <td></td>
                        <td style="font-weight: bold; font-size: 1.5em">No reviews :(</td>
                        <td></td>
                        <td></td>
                    </tr>
                {% endfor %}
            </table>
	    </section>
        <div class="section_button">
            <a class="link_button" href="{% url 'levelcheck:all_reviews' %}">SEE ALL</a>
        </div>
    </div>

    <div id="bottom_right">
        <header><h1>RECENT DISCUSSIONS</h1></header>
        <section>

		<table>
		  <tr>
			<td>Alfreds Futterkiste</td>
			<td>Maria Anders</td>
			<td>Germany</td>
		  </tr>
		  <tr>
			<td>Berglunds snabbköp</td>
			<td>Christina Berglund</td>
			<td>Sweden</td>
		  </tr>
		  <tr>
			<td>Centro comercial Moctezuma</td>
			<td>Francisco Chang</td>
			<td>Mexico</td>
		  </tr>
		  <tr>
			<td>Ernst Handel</td>
			<td>Roland Mendel</td>
			<td>Austria</td>
		  </tr>
		  <tr>
			<td>Island Trading</td>
			<td>Helen Bennett</td>
			<td>UK</td>
		  </tr>
		</table>
	</section>
        <div class="section_button">
        <a class="link_button" >SEE ALL</a>
            </div>
    </div>
    {% endblock %}
</div>

    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const rows = document.querySelectorAll("tr[data-href]");

            rows.forEach(row => {
                row.addEventListener("click", () => {
                    window.location.href = row.dataset.href;
                });
            });
        });
    </script>
</body>
</html>