<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'website/css/base.css' %}" />
</head>
<body>
<nav>
    <div style="display: flex">
        <a style="width: 72.5px">INDEX</a>
        <a style="width: 115px">RANKINGS</a>
        <a style="width: 100px" href="{% url 'levelcheck:profile' user.username %}">PROFILE</a>
    </div>
	<p id="greeting">Welcome {{request.user.username}}!</p>
    <a style="width: 115px" href="{% url 'levelcheck:logout' %}">LOGOUT</a>
</nav>

<div id="main">
    {% block content %}
        <a style="width: 115px" href="{% url 'levelcheck:create_game' %}">CREATE GAME</a>
    {% endblock %}
</div>
</body>
</html>