<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LevelCheck Login!</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'website/css/login.css' %}" />
</head>
<body>
    {% block form %}
    <div id="login">
        <form action="{% url 'levelcheck:login_form' %}" method="post">
            {% csrf_token %}
            <fieldset>
                <legend>LevelCheck</legend>
                <label for="username">Username</label>
                <input type="text" id="username" name="username"><br>
                <label for="password">Password</label>
                <input type="password" id="password" name="password"><br>
                <input type="submit" value="Login"><br><br>
                <a href="{% url 'levelcheck:create_acc' %}">Don't have an account? Sign up now!</a>
                {% if err_creds %}
                    <p><strong>{{ err_creds }}</strong></p>
                {% endif %}

                {% if err_dupe %}
                    <p><strong>{{ err_dupe }}</strong></p>
                {% endif %}

                {% if print_conta_criada %}
                    <p><strong>{{ print_conta_criada }}</strong></p>
                {% endif %}
            </fieldset>
        </form>
    </div>
    {% endblock %}
</body>
</html>