{% extends "levelcheck/index.html" %}

{% block content %}
    <aside>
        {% load static %}
        <img id="profile_pic" src="{% static request.user.leveluser.img_src %}">
        <div id="profile_desc">
            <p><span>Username:</span> {{request.user.username}}</p><br>
            <p><span>Joined:</span> {{request.user.leveluser.joined}}</p><br>
            <p><span>Gender:</span> {{request.user.leveluser.gender}}</p><br>
            <p><span>Birthday:</span> {{request.user.leveluser.birthday}}</p><br>
            <p><span>Location:</span> {{request.user.leveluser.location}}</p><br>
            <p><span>Bio:</span> {{request.user.leveluser.bio}}</p><br>

            <fieldset>
                <legend><span>Game Stats</span></legend>
                <p><span>Playing:</span> {{request.user.leveluser.userstats.playing}}</p><br>
                <p><span>Completed:</span> {{request.user.leveluser.userstats.completed}}</p><br>
                <p><span>On-Hold:</span> {{request.user.leveluser.userstats.on_hold}}</p><br>
                <p><span>Dropped:</span> {{request.user.leveluser.userstats.dropped}}</p><br>
                <p><span>Plan to Play:</span> {{request.user.leveluser.userstats.plan_to_play}}</p><br>
                <p><span>Total:</span> {{request.user.leveluser.userstats.total}}</p>
            </fieldset>
            <br>
            <a style="padding: 2%" class="link_button" href="{% url 'levelcheck:edit_profile' user.leveluser.id%}">Edit Profile</a>
        </div>
    </aside>

    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const rows = document.querySelectorAll("tr[data-href]");

            rows.forEach(row => {
                row.addEventListener("click", () => {
                    window.location.href = row.dataset.href;
                });
            });
        });
    </script>
{% endblock %}