{% extends "levelcheck/index.html" %}

{% block content %}
    <fieldset style="margin: auto; width: 75%; height: 75%">
        <legend><span>{{review.review_title}}</span></legend>
        <div style="display: flex; gap: 2%">
            <p><span>For:</span>  {{review.game_id}}</p>
            <p><span>By:</span>  {{review.user.username}}</p>
            <p><span>Publication Date:</span>  {{review.pub_date}}</p>
            <p><span>Likes:</span>  {{likes}}</p>
            <p><span>Dislikes:</span>  {{dislikes}}</p>
        </div>
        <br>
        <div style="width: 100%; height: 85%">
            <p>{{review.text}}</p><br>
        </div>
        <div style="gap: 2%" class="section_button">
            {% if request.user == review.user %}
                <a style="width: 6%; height: 30%" class="link_button" href="{% url 'levelcheck:delete_review' review.game_id%}">Delete</a>
            {% elif not request.user.is_superuser %}
                <a style="width: 5%; height: 30%" class="link_button" href="{% url 'levelcheck:review_feedback_vote' review.id "L" %}">Like</a>
                <a style="width: 6%; height: 30%" class="link_button" href="{% url 'levelcheck:review_feedback_vote' review.id "D" %}">Dislike</a>
            {% endif %}
        </div>
    </fieldset>
{% endblock %}