<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ review.game.title }} by {{ review.user.username }}</title>
</head>
<body>
    <p>{{ review.text }}</p>
    <button><a href="{% url 'levelcheck:review_feedback_vote' review.id "L" %}">Like</a></button>
    <p>{{ likes }}</p>
    <button><a href="{% url 'levelcheck:review_feedback_vote' review.id "D" %}">Dislike</a></button>
    <p>{{ dislikes }}</p>

    {% if request.user == review.user %}
        <button><a href="{% url 'levelcheck:delete_review' review.game_id%}">Delete</a></button>
    {% endif %}
</body>
</html>