{% extends "levelcheck/profile.html" %}

{% block tab %}
    <title>{{owner.user.username}}</title>
{% endblock %}

{% block character %}
    {% load static %}
    <img id="profile_pic" src="{% static owner.img_src %}">
    {% block profile %}
        <div id="profile_desc">
            <p><span>Username:</span>  {{owner.user.username}}</p><br>
            <p><span>Joined:</span>  {{owner.user.leveluser.joined}}</p><br>
            <p><span>Gender:</span>  {{owner.user.leveluser.gender}}</p><br>
            <p><span>Birthday:</span>  {{owner.user.leveluser.birthday}}</p><br>
            <p><span>Location:</span>  {{owner.user.leveluser.location}}</p><br>
            <p style="max-height: 21%; overflow: auto"><span>Bio:</span>  {{owner.user.leveluser.bio}}</p><br>

            <fieldset>
                <legend><span>Game Stats</span></legend>
                <p style="margin-top: 5%"><span style="color: #240090">⬤ </span>Playing:  {{p}}</p>
                <p style="margin-top: 5%"><span style="color: green">⬤ </span>Completed:  {{c}}</p>
                <p style="margin-top: 5%"><span style="color: yellow">⬤ </span>On-Hold:  {{h}}</p>
                <p style="margin-top: 5%"><span style="color: darkred">⬤ </span>Dropped:  {{d}}</p>
                <p style="margin-top: 5%"><span style="color: grey">⬤ </span>Plan to Play:  {{f}}</p>
                <p style="margin-top: 10%">Total:  {{t}}</p>
            </fieldset>
            <br>
            {% block edit %}
                {% if not request.user.is_superuser %}
                    {% if relation.type == 'U' or relation == 'E' %}
                    <a style="padding: 3%" class="link_button" href="{% url 'levelcheck:follower_followed' owner.id %}">Follow</a>
                    {% else %}
                    <a style="padding: 3%" class="link_button" href="{% url 'levelcheck:follower_followed' owner.id %}">Unfollow</a>
                    {% endif %}
                {% endif %}
            {% endblock %}
        </div>
    {% endblock %}
{% endblock %}